# Neon Database Connection
DATABASE_URL="your_database_url_here"

# USDA API Key
USDA_API_KEY="your_usda_api_key_here"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Search & AI
TAVILY_API_KEY="your_tavily_key"

# Backend URLs
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000
NEXT_PUBLIC_AI_API_URL=http://localhost:8001

# Google Auth
NEXT_PUBLIC_GOOGLE_API_KEY="your_google_api_key"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your_google_client_id"
