# Node modules
node_modules/
dist/
.expo/
*.log

# Python
__pycache__/
*.pyc
venv/
.venv/
ai/venv/
backend/venv/

# AI Models & Data
# Chặn toàn bộ thư mục train_data
ai/train_data/*

# Nhưng ngoại lệ cho phép file này (vì nó dưới 100MB)
!ai/train_data/base_model_best.h5

# Vẫn chặn các file nặng khác cho chắc
ai/train_data/fine_tune_model_best.h5
ai/train_data/fine_tune_model_trained.h5
ai/train_data/best.pt

# Environment
.env
.env.local
.DS_Store
